<footer>
  <div class=" py-2 text-center">
    <h6><i class='bx bx-copyright'></i>2022 Chambers</h6>
    <p>
      <a class=" text-sky-400 hover:underline hover:opacity-80 transition-opacity inline-block mx-2" href="http://">連結</a>
    </p>
  </div>
</footer>