
<header class="shadow-md bg-gray-50/80 z-10 sticky top-0 left-0 backdrop-blur backdrop-saturate-100">
  <div class="p-4 flex items-center justify-between md:bg-transparent mx-auto max-w-7xl">
    <figure>
      <a class=" no-underline text-inherit" href="/">
        <img class=" w-5 inline-block align-middle" src="/assets/favicon.png" alt="logo">
        <figcaption class=" inline-block align-middle">{{ site.name }}</figcaption>
      </a>
    </figure>
    <input type="checkbox" class=" hidden" id="menu">
    <label for="menu" class="md:hidden text-2xl">
      <span class="menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </span>
      <span class="false-icon hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </span>
      
    </label>
    <ul class="hidden nav md:block absolute md:static top-full left-0 py-4 px-6 md:py-2 md:px-2 bg-indigo-50 md:bg-transparent w-full md:w-auto">
      {%- for item in categorySet -%}
      <a class="text-sky-400 no-underline hover:underline hover:opacity-80 transition-opacity block md:inline-block align-middle md:mx-2 p-2 md:p-0"
        href="{{ item.url }}"
      >
        <li>{{ item.name }}</li>
      </a>
      {%- endfor -%}
    </ul>
  </div>
</header>