<div class="text-white text-center bg-cover bg-no-repeat bg-center" style="background-image: url({{cover}})">
  <div class=" backdrop-blur py-16 px-5 lg:py-10 bg-gray-900/70">
    <h1 class=" max-w-5xl mx-auto rounded-lg">{{ title }}</h1>
  </div>
</div>