<div class="p-5 text-white text-center bg-cover bg-no-repeat bg-center" style="background-image: url({{cover}})">
  <h1 class=" max-w-5xl mx-auto p-5 bg-gray-900/80 rounded-lg backdrop-blur">{{ title }}</h1>
</div>