<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/index.css?v={% version %}"/>
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="EeuHEvLF5IYkZGVxFdS09sIHcSZXBSudVq5B821z6nU">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  {% include 'components/meta-info.njk' %}
  <title>{{ title }} | {{ site.name }}</title>
</head>
<body class=" font-mono bg-slate-50 min-h-screen text-gray-900 text-base lg:text-xl">
  <header class=" p-10 bg-white">
    <div class=" relative">
      <h1 class=" absolute -z-10 invisible">{{ site.name }}</h1>
      <figure>
        <a href="/">
          <img class=" mx-auto max-w-xs w-full" src="/assets/hero.jpg" alt="{{ site.name }}">
        </a>
      </figure>
    </div>
  </header>
  <nav class=" p-10">
    <ul class=" text-center pl-0 list-none">
      {%- for item in category -%}
      <li class=" inline-block mx-4">
        <a class=" hover:text-amber-400 no-underline hover:underline"
          href="{{ item.url }}"
        >{{ item.name }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
  <main class=" bg-indigo-50">
    <div class=" container mx-auto grid-cols-1 p-4 grid lg:grid-cols-4 gap-4 lg:gap-8">
      <div class=" lg:col-start-1 lg:col-span-3">
        {{ content | safe }}
      </div>
      <aside class="lg:col-start-4 lg:col-span-1">
        <ul class=" list-none p-2  rounded-xl bg-white">
          <li class=" p-2 mb-2">
            {% include 'components/fb.njk' %}
          </li>
          <li class=" p-2 mb-2">
            {% include 'components/taglist.njk' %}
          </li>
        </ul>
      </aside>
    </div>
  </main>
  {% include 'components/footer.njk' %}
</body>
</html>